@import org.webjars.play.WebJarsUtil

@(title: String, heading: String, message: String)(implicit webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main = {
    <section>
        <div class="container text-center" style="padding-top: 50px; min-height:300px;">
            <h1 class="s-header"><strong>@title</strong></h1>
        </div>
    </section>
    <section style="background-color: white;">
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="well text-center">
                        <p>@heading</p>
                        <p>@message</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@include.template(title, main)
